<h1>Listing jewels</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Color</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Jewel name</th>
      <th>Jewel description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jewels.each do |jewel| %>
      <tr>
        <td><%= jewel.user %></td>
        <td><%= jewel.color %></td>
        <td><%= jewel.price %></td>
        <td><%= jewel.weight %></td>
        <td><%= jewel.jewel_name %></td>
        <td><%= jewel.jewel_description %></td>
        <td><%= link_to 'Show', jewel %></td>
        <td><%= link_to 'Edit', edit_jewel_path(jewel) %></td>
        <td><%= link_to 'Destroy', jewel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jewel', new_jewel_path %>
