<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @jewel.user %>
</p>

<p>
  <strong>Color:</strong>
  <%= @jewel.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @jewel.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @jewel.weight %>
</p>

<p>
  <strong>Jewel name:</strong>
  <%= @jewel.jewel_name %>
</p>

<p>
  <strong>Jewel description:</strong>
  <%= @jewel.jewel_description %>
</p>

<%= link_to 'Edit', edit_jewel_path(@jewel) %> |
<%= link_to 'Back', jewels_path %>
